:root {
    --backColor: rgb(15, 15, 15);
    --redColor: rgb(185, 50, 50);
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    font-family: "SUSE";
    overflow-x: hidden;
}
i {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    background-color: var(--backColor);
    align-items: center;
    width: 100vw;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
}
.headerButtons {
    display: flex;
    gap: 50px;
    font-size: 25px;
}
.headerButtons > *, .visibilityToggle {
    cursor: pointer;
}
.visibilityToggle {
    position: fixed;
    font-size: 2em;
    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    color: rgb(125, 100, 100);
    z-index: 3;
}
.welcomeText {
    font-size: 200px;
    margin-left: 100px;
    margin-bottom: 0;
    margin-top: 100px;
}
.welcomeText2 {
    font-size: 80px;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 150px;
    margin-top: 100px;
    padding-left: 35%;
}
.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    height: fit-content;
    margin-bottom: 50px;
}
.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: fit-content;
    width: 75vw;
    align-self: flex-start;
    justify-self: left;
}
.inputSearchBar {
    width: 100%;
    box-shadow: 0px 0px 22px 1px rgba(10, 10, 10, 1);
    background-color: var(--backColor);
    justify-self: center;
    align-self: center;
    padding: 20px;
    border-radius: 20px;
    border: 0;
    color: white;
    font-size: 30px;
    padding-left: 80px;
    box-sizing: border-box;
}
.searchBar > i {
    position: absolute;
    font-size: 30px;
    margin-left: 30px;
}
.categories {
    width: 18vw;
    box-shadow: 0px 0px 22px 1px rgba(10, 10, 10, 1);
    font-size: 30px;
    background-color: var(--backColor);
    border: 0;
    border-radius: 20px;
    color: white;
    text-align: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
    padding-top: 0px;
    justify-content: space-between;
    gap: 50px;
    height: fit-content;
}
a {
    flex-grow: 1;
    width: 20vw;
}
.item, .addItem {
    height: fit-content;
    object-fit: contain;
    box-shadow: 0px 0px 25px 1px rgba(10, 10, 10, 1);
    background-color: var(--backColor);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}
.addItem {
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self:flex-start;
}
.item > img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
}
.title {
    font-size: 30px;
    height: 120px;
}
.price {
    font-size: 30px;
    margin-left: auto;
}
.trashIcon > i {
    color: rgb(50, 50, 50);
    font-size: 30px;
    border: 2px solid rgb(50, 50, 50);
    padding: 10px;
    border-radius: 10px;
    transition: 250ms;
}
.trashIcon > i:hover {
    color: var(--redColor);
    border: 2px solid var(--redColor);
}
.itemRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addItemsBtn {
    background-color: transparent;
    padding: 15px 100px;
    border: 0;
    box-shadow: 0px 0px 25px 1px rgba(10, 10, 10, 1);
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    background-color: var(--backColor);
}
.headerButtons > a {
    width: fit-content;
    flex-grow: 0;
}