:root {
    --backColor: rgb(15, 15, 15);
    --redColor: rgb(185, 50, 50);
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    font-family: "SUSE";
    overflow-x: hidden;
}
i {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    background-color: var(--backColor);
    align-items: center;
    width: 100vw;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
}
.headerButtons {
    display: flex;
    gap: 50px;
    font-size: 25px;
}
.headerButtons > *, .visibilityToggle {
    cursor: pointer;
}
.visibilityToggle {
    position: fixed;
    font-size: 2em;
    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    color: rgb(125, 100, 100);
    z-index: 3;
}
.cart {
    display: flex;
    flex-direction: row;
    margin-top: 125px;
    gap: 5vh;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: left;
    padding: 0px 50px;
    height: 80vh;
    box-sizing: border-box;
}
a {
    width: 95%;
}
.cartItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: var(--backColor);
    border-radius: 50px;
    padding: 20px;
}
.items {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: auto;
    height: 100%;
    padding-right: 50px;
    width: 65vw;
}
.cartItem > img {
    height: 100%;
}
.cartItemName, .cartItemPrice {
    font-size: 1.5rem;
}
.trashIcon > i, .cartTrashIcons > i {
    color: rgb(50, 50, 50);
    font-size: 30px;
    border: 2px solid rgb(50, 50, 50);
    padding: 10px;
    border-radius: 10px;
    transition: 250ms;
}
.trashIcon > i:hover, .cartTrashIcons > i:hover {
    color: var(--redColor);
    border: 2px solid var(--redColor);
}
button {
    background-color: transparent;
    width: 100%;
    padding: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 25px 1px rgba(10, 10, 10, 1);
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    align-self: center;
    cursor: pointer;
    background-color: var(--backColor);
}
.summary {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--backColor);
    padding: 50px;
    border-radius: 30px;
    gap: 75px;
}
.summaryText {
    font-size: 2rem;
    display: flex;
    justify-content:space-between;
    width: 100%;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: var(--backColor);
}
::-webkit-scrollbar-thumb {
    background: white;
}