:root {
    --backColor: rgb(15, 15, 15);
    --redColor: rgb(185, 50, 50);
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    font-family: "SUSE";
    overflow-x: hidden;
}
i {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    background-color: var(--backColor);
    align-items: center;
    width: 100vw;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
}
.headerButtons {
    display: flex;
    gap: 50px;
    font-size: 25px;
}
.headerButtons > *, .visibilityToggle {
    cursor: pointer;
}
.visibilityToggle {
    position: fixed;
    font-size: 2em;
    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    color: rgb(125, 100, 100);
    z-index: 3;
}
main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    justify-content: center;
    margin-top: 120px;
}
input, select, textarea{
    font-size: inherit;
    padding: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: inherit;
    border-radius: 20px;
    resize: none;
}
textarea {
    height: 30%;
}
.addItemForm {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    background-color: var(--backColor);
    padding: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    width: 40vw;
}
.row {
    display: flex;
    justify-content: space-between;
}
.addItemBtns > input {
    width: 30%;
    cursor: pointer;
}
.addItemBtns {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.fileNameInput {
    width: 50%;
}
input[type=number], select { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none; 
    padding-right: 50px;
}
select {
    -webkit-appearance: none; 
    padding-right: 50px;
    background-color: var(--backColor);
}
.selectArrow {
    position: absolute;
    margin-top: 35px;
    transform: translate(-150%, -50%);
    cursor: default;
    pointer-events: none;
}
.numberArrows {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-self: center;
    transform: translate(300px, 0);
}
.numberArrows > * {
    cursor: pointer;
    transition: 250ms;
    border-radius: 10px;
    user-select: none;
}
.numberArrows > *:hover {
    background-color: gray;
}